html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  /* background-image: linear-gradient(#7bf78c 2%, #035307 108%); */
  /* color: #fff; */
  min-height: 100vh;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.logo {
  width: 200px;
}

a.cicely:hover,
a:hover {
  background-color: #ff0000;
  color: #fff;
  border: 2px solid #05a81b;
}

a {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  padding: 15px 20px;
  font-size: 1rem;
  color: #ff0000;
  border: 2px solid #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.cicely {
  position: relative;
  background-color: #ff0000;
  color: #fff;
  font-weight: 700;
  pointer-events:none
}

a.cicely:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid #05a81b;
  color: #fff;
}

h1 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.channels {
  font-size: 18px;
  display: inline-block;
  max-width: 400px;
  margin: 0 auto;
}

.channels a {
  flex: 1;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
}

.channels a:last-child {
  margin-right: 0;
}

.channels a:hover {
  text-decoration: underline;
}

